* {
  box-sizing: border-box;
}

html,
body,
#App,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #181919;
}

.ctrlPanel {
  width: 100vw;
  position: absolute;
  z-index: 1;
}

.ctrlPanel ul {
  display: flex;
  list-style: none;
  width: 100%;
  justify-content: space-around;
}

.ctrlPanel li {
  /* width: 20%; */
}

.ctrlPanel button {
  cursor: pointer;
}
